
.headExercise{
    background: rgba(255, 255, 255, 0.95);
    
}
 .groupSelects{
    box-shadow: 12px 12px 20px #888888;
    border-radius: 5px;
    border: solid 3px red;
    margin-top: 10px;
    /* background: rgba(255, 255, 255, 0.9); */
    position:sticky;
   top: 28px;
   /* top: 63px; */
   z-index: 19;
   background: white;
   font-size: calc(.6rem + 1vw);
   padding-bottom: 5px;
}
.groupSelects{
    --bs-gutter-x: 0;
}
.groupSelects .col{
    padding: 0 20px;
    /* margin: 10px 0; */
}
.groupSelects .form-control{
    border:solid 1px red;
}
/* .headExercise .desc{
    background: rgba(255, 255, 255, 0.9);
} */
.headExercise .descExercise{
    padding: 20px 0;
}
.headExercise .descExercise h4{
    /* width: fit-content; */
    margin: auto;
    padding: 0 10px;
    font-family: 'Roboto Slab', serif;
    /* background: rgba(255, 255, 255, 0.8);
    border-radius: 10px; */
}
.headExercise .descExercise p{
    width: fit-content;
    margin: auto;
    padding: 0 10px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    /* font-family: 'Roboto Slab', serif; */
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 10px;
}

#butHint{
    background: rgba(237, 28, 36, .8);
    border: solid 4px red;
    color: white;
    padding: 3px 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 7px #888;
    /* font-size: 18px; */
    font-weight: bold;
    transition: all .5s;
    align-self: flex-end;
    max-width: 100px;
    /* justify-self:center; */
    margin-left: auto;
    margin-right: auto;
    font-size: calc(.6rem + 1vw);
}
#butHint:hover{
    background: rgba(237, 28, 36, 1);
    box-shadow: 2px 2px 7px #888;
}

@media only screen and (max-width: 576px) {
	.hintMode .form-label span {
        display: none;
    }
    .groupSelects .col{
        /* min-width: 405px; */
        padding: 0 5px;
    }
    .groupSelects{
        min-width: 310px;
        top: 28px;
    }
    #butHint{
       width: 75px;
    }
}
/* 

.headExercise{
    padding: 0 15px;
    width: fit-content;
    margin: auto;
}
.descExercise h5{
    color:rgb(17, 104, 17);
    margin-left: 50px;
}
.descExercise p{
    padding: 0 15px;
}
.headExercise>div{
    display: inline-block;
    padding: 15px 15px;
}
.headExercise label{
    margin:0 30px 0 10px;
    font-size: 18px;
}
.headExercise select{
    font-size: 18px;
}
.desc{
    position: relative;
}
.nameCat {
    display: inline-block;
    position:absolute;
    top: 0;
    left: 18px;
    color:rgb(17, 104, 17);
}
.nameCat h5{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 640px){
    .headExercise label{
        font-size: 4vw;
    }
    .headExercise select{
        font-size: 4vw;
    }
} */