
.subCatC1>div:first-child{
    /* background: rgba(255, 255, 255, 0.95);
    border-radius: 10px; */
}
.subCatC1 .col-md-6>div{
    background: rgba(255, 255, 255, 0.95);
}
.subCatC1 .block>div, .subCatC1 .blPoints>div, .subCatC1 .template>div{
    border: solid 3px red;
    border-radius: 10px;
    box-shadow: 6px 6px 16px #888;
    margin-bottom: 10px;
    padding: 5px 10px;
    min-height: 350px;
    /* min-height: 220px; */
}
.subCatC1.one .block>div, .subCatC1.one .blPoints>div, .subCatC1.one .template>div{
    /* min-height: 350px; */
    min-height: 220px;
}
.subCatC1 .template>div h5+h6{
    background: rgba(247, 202, 202, 0.4);
    border-radius: 10px;
    padding: 5px;
}
.subCatC1 .block>div h6:first-child{
    background: rgba(247, 202, 202, 0.4);
    border-radius: 10px;
    padding: 5px;
}
.subCatC1 .questions .bold{
    font-weight: bold;
}
.subCatC1 .questions .green{
    color:green;
}
.subCatC1 .questions .red{
    color:red;
}
.subCatC1 .block p{
    font-style: italic;
    transition: all .2s linear;
    width: fit-content;
    border-radius: 5px;
    padding: 0 5px;
}
.subCatC1 .block p:hover{
    box-shadow: 2px 2px 5px #888;
}
.headSubCat{
    padding: 10px ;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}
.headSubCat h5:first-child{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    
}
.subCatC1 .questions{
    position: relative;
}
.subCatC1 .questions .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.1);
}
