
.subCatA6 .questions{
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    border: solid 3px red;
    border-radius: 10px;
    box-shadow: 6px 6px 16px #888;
    padding: 5px 10px;
}
.subCatA6 .questions .col-sm-6{
    
    margin-bottom: 15px;
}
.subCatA6 .points{
    position: relative;
}
.subCatA6 .points h5{
    position: absolute;
    right: 20px;
    width: 150px;
    text-align: right;
}
.subCatA6 .questions .bold{
    font-weight: bold;
}
.subCatA6 .questions .green{
    color:green;
}
.subCatA6 .questions .red{
    color:red;
}

.subCatA6 .questions .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.1);
}
.subCatA6 input{ 
    width: 21px;
    padding: 2px;
    border: none;
    background: rgba(228,213,14,.2);
}
.subCatA6  input:hover{ 
    box-shadow: 2px 2px 5px #888;
    cursor: pointer;
}
.subCatA6  img{ 
    max-width: 100%;
    height: auto;
    display: block;
}

/* @media only screen and (max-width: 992px) {
	.subCatA6 .questions img.small{
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
} */
