
/* .subCatA5 .questions{
    background: rgba(255, 255, 255, 0.95);
    border: solid 3px red;
    border-radius: 10px;
    box-shadow: 6px 6px 16px #888;
    padding: 5px 10px;
} */
.subCatA5 .questions{
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    border: solid 3px red;
    border-radius: 10px;
    box-shadow: 6px 6px 16px #888;
    padding: 5px 10px;
}
.subCatA5 .points{
    position: relative;
}
.subCatA5 .points h5{
    position: absolute;
    right: 20px;
    width: 150px;
    text-align: right;
}
.subCatA5 .questions .bold{
    font-weight: bold;
}
.subCatA5 .questions .green{
    color:green;
}
.subCatA5 .questions .red{
    color:red;
}

.subCatA5 .questions .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.1);
}
.subCatA5 table{ 
    width: 100%;
    margin-bottom: 20px;
}
.subCatA5 table td{ 
    border: solid 1px red;
}
.subCatA5 .tableMain td{ 
    padding: 5px;
}
.subCatA5 .tableMain tr:first-child{ 
    font-weight: bold;
}
.subCatA5 .tableAnsw td{ 
    text-align: center;
}
.subCatA5 .tableAnsw tr td:first-child{ 
    font-weight: bold;
}
.subCatA5 .tableAnsw td input{ 
    width: 16px;
    padding: 2px;
    border: none;
    background: rgba(228,213,14,.2);
}
.subCatA5 .tableAnsw td input:hover{ 
    box-shadow: 2px 2px 5px #888;
    cursor: pointer;
}
/* .subCatA5 .audio-player{ 
    position: relative;
    z-index: 11;
} */

/* @media only screen and (max-width: 992px) {
	.subCatA5 .questions img.small{
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
} */
