
.subCatB2 .questions{
    background: rgba(255, 255, 255, 0.95);
    border: solid 3px red;
    border-radius: 10px;
    box-shadow: 6px 6px 16px #888;
    padding: 5px 10px;
    position: relative;
}
.subCatB2 .questions .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.1);
} 
.subCatB2 .points{
    position: relative;
}
.subCatB2 .points h5{
    position: absolute;
    right: 20px;
    width: 150px;
    text-align: right;
}
.subCatB2 .questions .inp{
    font-weight: bold;
}
.subCatB2 .block p{
    margin-bottom: 1.2rem;
}
.subCatB2 .block p:first-child{
    margin-bottom: .2rem;
}
.subCatB2 .block .bGreen{
    color:green;
    font-weight: bold;
}
.subCatB2 .block .red{
    color:red;
    font-weight: bold;
}
.subCatB2 .block .inpShow{
    color:green;
    font-style: italic;
    margin-bottom: 0;
    height: 42px;
    transition: height .5s;
}
.subCatB2 .block .inpHide{
    color:green;
    font-style: italic;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: height .5s;
}
.subCatB2 .block textarea{
    margin-bottom: 10px;
    background: rgba(228,213,14,.2);
    border: none;
    padding: 0 5px;
    border-radius: 5px;
}
